.root {
	position: relative;
}

.input {
	border: 1px solid rgba(0, 0, 0, .1);
	padding: 12px 20px 12px 35px;
	width: 400px;
	border-radius: 10px;
	font-size: 16px;
	transition: border-color .3s;
	font-weight: bold;

	&:focus,
	&:hover {
		border: 1px solid rgba(0, 0, 0, .3);
	}
}

.icon {
	position: absolute;
	width: 20px;
	height: 20px;
	opacity: .5;
	top: 50%;
	transform: translateY(-50%);

	&-search {
		left: 10px;
	}

	&-clear {
		right: 10px;
		cursor: pointer;
		transition: opacity .3s;

		&:hover {
			opacity: .7;
		}
	}
}